<html ng-app="app">
	<script src="../angular-1.6.9/angular.js"></script>
	<script>
		let app = angular.module("app",[]);
		app.controller("ctrl",function($scope){
			$scope.cricket=false;
			$scope.football=false;
		});
	</script>
	Cricket: <input type="checkbox" ng-model="cricket"><br>
	Football: <input type="checkbox" ng-model="football">
	<br>
	<br>
	<div id="cricketInfo" ng-show="cricket">
		You have selected Cricket
	</div>
	<div id="footballInfo" ng-show="football">
		You have selected Football
	</div>
</html>