<html ng-app="app">
	<script src="../angular-1.6.9/angular.js"></script>
	<script src="likeDislike.js"></script>
	<div ng-controller="ctrl">
		<table>
			<tr>
				<th>Sport</th>
				<th>Likes</th>
				<th>Dislikes</th>
				<th>Results</th>
			</tr>
			<tr ng-repeat="record in data">
				<td>{{record.sport}}</td>
				<td>{{record.like}}</td>
				<td>{{record.dislike}}</td>
				<td>{{results(record)}}</td>
				<td>
					<input type="button" ng-click="addLike(record)" value="Like">
					<input type="button" ng-click="addDislike(record)" value="Dislike">
				</td>
			</tr>
		</table>
	</div>
</html>